.about {
  padding: 100px 0px;
  margin: 0 auto;
  max-width: 900px;
}
.about h2 {
  color: var(--accent);
}

.about-inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  color: var(--grey-white);
  list-style: circle;
}

.headshot {
  width: clamp(250px, 25vw, 300px);
  border-radius: 10px;
}
