.about {
  padding: 0 200px;
}
.about h2 {
  color: indianred;
}

.about-inner {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 200px);
}

.headshot {
  width: 300px;
  height: 300px;
  float: right;
  border-radius: 10px;
}
