* {
  box-sizing: border-box;
}

.header {
  padding: 0px 50px;
  position: fixed;
  width: 100%;
  background-color: rgba(29, 38, 51, 0.85);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px -10px rgba(23, 31, 41);
  z-index: 11;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes link-hover {
  from {
    color: var(--accent);
  }
  to {
    color: var(--off-white);
  }
}

@keyframes link-unhover {
  from {
    color: var(--off-white);
  }
  to {
    color: var(--accent);
  }
}

.navbar a {
  animation-name: link-unhover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  text-decoration: none;
  padding: 15px;
}

.navbar a:hover {
  animation-name: link-hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.navbar-home-link {
  display: block;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
