:root {
  --background: #1d2633;
  --background-light: #2b3747;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --off-white: #f8f7f2;
  --grey-white: #bbbbba;
  --accent: #cd5c5c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--off-white);
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-light);
}

.content-section {
  max-width: 1600px;
  padding: 0px 100px;
  margin: 0px auto;
}

.content-section > * {
  min-width: 750px;
}
