:root {
  --background: #1d2633;
  --blue: #457b9d;
  --light-blue: #a8dadc;
  --off-white: #f8f7f2;
  --red: #e63946;
}
body {
  background-color: var(--background);
  color: var(--off-white);
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44556d;
}

.content-section {
  max-width: 1600px;
  padding: 0px 150px;
  margin: 0px auto;
}
